p {
    background-color: black;
    color: cornsilk;
}
h1{
    background-color: darkblue;
    padding-left: 5px;
    padding-right: 5px;
}

ol {
color: blueviolet;
align-content: center;
font-family: sans-serif;
font-size: medium;
}
ul{
    color: darkmagenta;
    align-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
body{
    background-color: rgb(133, 180, 80);
    backface-visibility: inherit;
   

}